<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="dropdown">
      <input
        type="text"
        class="dropdown-search"
        placeholder="Choose a state..."
        autocomplete="off"
      />
      <ul class="dropdown-menu"></ul>
    </div>
  </body>
</html>
